/*share.css*/
#Main {
	border: 3px solid blue;
	position: relative;
	/* height: 300px; */
}
#localScreen {
	border: 3px solid red;
	position: absolute;
	margin-right: 10px;
	left: 5px;
	top: 5px;
	bottom: 5px;
	right: 30%;
}
#remoteScreen {
	border: 3px solid green;
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 5px;
	left: 70%;
	margin-left: 10px;
}
video {
	width: 50%;
	border-radius: 5px;
	border: 1px solid black;
}
#clientScreen {
	border: 3px solid red;
	position: absolute;
	margin-right: 10px;
	left: 5px;
	top: 5px;
	bottom: 5px;
	right: 30%;
}
